# Background Color

Warna background pada Technoart dibagi menjadi 2 bagian, yaitu grayscale background dan full color background.

<div class="margin-top-50"></div><!-- separator -->

## Grayscale Background

Grayscale background merupakan background dengan warna hitam putih. Grayscale background cocok dipakai untuk kalimat agar nyaman dibaca oleh user. Grayscale background memiliki 9 pilihan warna, yaitu:

{% capture option_code %}
<div class="bg-lightest">.bg-lightest</div>
<div class="bg-lighter">.bg-lighter</div>
<div class="bg-light">.bg-light</div>
---
<div class="bg-grayest">.bg-grayest</div>
<div class="bg-grayer">.bg-grayer</div>
<div class="bg-gray">.bg-gray</div>
---
<div class="bg-darkest">.bg-darkest</div>
<div class="bg-darker">.bg-darker</div>
<div class="bg-dark">.bg-dark</div>
{% endcapture %}
{% include option-code.html content=option_code %}

<div class="margin-top-50"></div><!-- separator -->

## Hover Grayscale Background

Dengan hover, style grayscale background hanya akan terlihat jika kita menggeser pointer ke komponen. Sama seperti grayscale background, hover grayscale background memiliki 9 pilihan warna, yaitu:

{% capture option_code %}
<div class="hover-bg-lightest">.hover-bg-lightest</div>
<div class="hover-bg-lighter">.hover-bg-lighter</div>
<div class="hover-bg-light">.hover-bg-light</div>
---
<div class="hover-bg-grayest">.hover-bg-grayest</div>
<div class="hover-bg-grayer">.hover-bg-grayer</div>
<div class="hover-bg-gray">.hover-bg-gray</div>
---
<div class="hover-bg-darkest">.hover-bg-darkest</div>
<div class="hover-bg-darker">.hover-bg-darker</div>
<div class="hover-bg-dark">.hover-bg-dark</div>
{% endcapture %}
{% include option-code.html content=option_code %}

<div class="margin-top-50"></div><!-- separator -->

## Full Color Background

Full color background merupakan background yang bewarna warni. Full color background cocok dipakai untuk kalimat yang menarik perhaian user (branding). Bisa juga dipakai untuk memberi makna semantik (seperti error, warning, info, dll). Full color background memiliki 36 pilihan warna, yaitu:

{% capture option_code %}
<div class="bg-light-red">.bg-light-red</div>
<div class="bg-light-orange">.bg-light-orange</div>
<div class="bg-light-yellow">.bg-light-yellow</div>
<div class="bg-light-chartreuse">.bg-light-chartreuse</div>
<div class="bg-light-green">.bg-light-green</div>
<div class="bg-light-spring">.bg-light-spring</div>
<div class="bg-light-cyan">.bg-light-cyan</div>
<div class="bg-light-azure">.bg-light-azure</div>
<div class="bg-light-blue">.bg-light-blue</div>
<div class="bg-light-violet">.bg-light-violet</div>
<div class="bg-light-magenta">.bg-light-magenta</div>
<div class="bg-light-rose">.bg-light-rose</div>
---
<div class="bg-red">.bg-red</div>
<div class="bg-orange">.bg-orange</div>
<div class="bg-yellow">.bg-yellow</div>
<div class="bg-chartreuse">.bg-chartreuse</div>
<div class="bg-green">.bg-green</div>
<div class="bg-spring">.bg-spring</div>
<div class="bg-cyan">.bg-cyan</div>
<div class="bg-azure">.bg-azure</div>
<div class="bg-blue">.bg-blue</div>
<div class="bg-violet">.bg-violet</div>
<div class="bg-magenta">.bg-magenta</div>
<div class="bg-rose">.bg-rose</div>
---
<div class="bg-dark-red">.bg-dark-red</div>
<div class="bg-dark-orange">.bg-dark-orange</div>
<div class="bg-dark-yellow">.bg-dark-yellow</div>
<div class="bg-dark-chartreuse">.bg-dark-chartreuse</div>
<div class="bg-dark-green">.bg-dark-green</div>
<div class="bg-dark-spring">.bg-dark-spring</div>
<div class="bg-dark-cyan">.bg-dark-cyan</div>
<div class="bg-dark-azure">.bg-dark-azure</div>
<div class="bg-dark-blue">.bg-dark-blue</div>
<div class="bg-dark-violet">.bg-dark-violet</div>
<div class="bg-dark-magenta">.bg-dark-magenta</div>
<div class="bg-dark-rose">.bg-dark-rose</div>
{% endcapture %}
{% include option-code.html content=option_code %}

<div class="margin-top-50"></div><!-- separator -->

## Hover Full Color Background

Dengan hover, style full color background hanya akan terlihat jika kita menggeser pointer ke komponen. Sama seperti full color background, hover full color background memiliki 36 pilihan warna, yaitu:

{% capture option_code %}
<div class="hover-bg-light-red">.hover-bg-light-red</div>
<div class="hover-bg-light-orange">.hover-bg-light-orange</div>
<div class="hover-bg-light-yellow">.hover-bg-light-yellow</div>
<div class="hover-bg-light-chartreuse">.hover-bg-light-chartreuse</div>
<div class="hover-bg-light-green">.hover-bg-light-green</div>
<div class="hover-bg-light-spring">.hover-bg-light-spring</div>
<div class="hover-bg-light-cyan">.hover-bg-light-cyan</div>
<div class="hover-bg-light-azure">.hover-bg-light-azure</div>
<div class="hover-bg-light-blue">.hover-bg-light-blue</div>
<div class="hover-bg-light-violet">.hover-bg-light-violet</div>
<div class="hover-bg-light-magenta">.hover-bg-light-magenta</div>
<div class="hover-bg-light-rose">.hover-bg-light-rose</div>
---
<div class="hover-bg-red">.hover-bg-red</div>
<div class="hover-bg-orange">.hover-bg-orange</div>
<div class="hover-bg-yellow">.hover-bg-yellow</div>
<div class="hover-bg-chartreuse">.hover-bg-chartreuse</div>
<div class="hover-bg-green">.hover-bg-green</div>
<div class="hover-bg-spring">.hover-bg-spring</div>
<div class="hover-bg-cyan">.hover-bg-cyan</div>
<div class="hover-bg-azure">.hover-bg-azure</div>
<div class="hover-bg-blue">.hover-bg-blue</div>
<div class="hover-bg-violet">.hover-bg-violet</div>
<div class="hover-bg-magenta">.hover-bg-magenta</div>
<div class="hover-bg-rose">.hover-bg-rose</div>
---
<div class="hover-bg-dark-red">.hover-bg-dark-red</div>
<div class="hover-bg-dark-orange">.hover-bg-dark-orange</div>
<div class="hover-bg-dark-yellow">.hover-bg-dark-yellow</div>
<div class="hover-bg-dark-chartreuse">.hover-bg-dark-chartreuse</div>
<div class="hover-bg-dark-green">.hover-bg-dark-green</div>
<div class="hover-bg-dark-spring">.hover-bg-dark-spring</div>
<div class="hover-bg-dark-cyan">.hover-bg-dark-cyan</div>
<div class="hover-bg-dark-azure">.hover-bg-dark-azure</div>
<div class="hover-bg-dark-blue">.hover-bg-dark-blue</div>
<div class="hover-bg-dark-violet">.hover-bg-dark-violet</div>
<div class="hover-bg-dark-magenta">.hover-bg-dark-magenta</div>
<div class="hover-bg-dark-rose">.hover-bg-dark-rose</div>
{% endcapture %}
{% include option-code.html content=option_code %}

<div class="margin-top-100"></div><!-- last separator -->
