# Circle Icon

Gunakan Circle Icon untuk memberi border lingkarang pada elemen. Komponen ini digunakan untuk melingkari satu icon atau satu character.

{% capture option %}
.circle-icon - Tambahkan ini pada elemen agar memiliki border lingkaran.
{% endcapture %}
{% include option.html content=option %}

{% capture example %}
<span class="circle-icon">T</span>
<span class="circle-icon">E</span>
<span class="circle-icon">C</span>
<span class="circle-icon">H</span>
<span class="circle-icon">N</span>
<span class="circle-icon">O</span>
<span class="circle-icon border-azure">A</span>
<span class="circle-icon">R</span>
<span class="circle-icon">T</span>
{% endcapture %}
{% include example.html content=example %}

<div class="margin-top-100"></div><!-- last separator -->
