# Clearfix and Float

{% capture option %}
.clearfix - jika sebuah komponen memiliki kelas float (pull-* atau m-pull-*), tambahkan kelas ini pada parentnya.
.pull-left - membuat komponen memiliki efek float kekiri.
.pull-kanan - membuat komponen memiliki efek float kekanan.
.m-pull-left - membuat komponen memiliki efek pull-left pada layar mobile.
.m-pull-kanan - membuat komponen memiliki efek pull-right pada layar mobile.
{% endcapture %}
{% include option.html content=option %}

Without <span class="text-rose">.clearfix</span>

{% capture example %}
<div class="border">
  <div class="pull-left bg-lighter">.pull-left element.</div>
  <div class="pull-right bg-lighter">.pull-right element.</div>
</div>
{% endcapture %}
{% include example.html content=example %}

With <span class="text-rose">.clearfix</span>

{% capture example %}
<div class="clearfix border">
  <div class="pull-left bg-lighter">.pull-left element.</div>
  <div class="pull-right bg-lighter">.pull-right element.</div>
</div>
{% endcapture %}
{% include example.html content=example %}

<div class="margin-top-100"></div><!-- last separator -->
