# Text Color

Warna text pada Technoart dibagi menjadi 2 bagian, yaitu grayscale text dan full color text.

<div class="margin-top-50"></div><!-- separator -->

## Grayscale Text

Grayscale text merupakan text dengan warna hitam putih. Grayscale text cocok dipakai untuk kalimat agar nyaman dibaca oleh user. Grayscale text memiliki 9 pilihan warna, yaitu:

{% capture option_code %}
<div class="text-lightest">.text-lightest</div> - bg-dark
<div class="text-lighter">.text-lighter</div> - bg-dark
<div class="text-light">.text-light</div> - bg-dark
---
<div class="text-grayest">.text-grayest</div>
<div class="text-grayer">.text-grayer</div>
<div class="text-gray">.text-gray</div>
---
<div class="text-darkest">.text-darkest</div>
<div class="text-darker">.text-darker</div>
<div class="text-dark">.text-dark</div>
{% endcapture %}
{% include option-code.html content=option_code %}

Warna text default yang digunakan Technoart adalah <span class="text-rose">.text-grayest</span>.

<div class="margin-top-50"></div><!-- separator -->

## Hover Grayscale Text

Dengan hover, style grayscale text hanya akan terlihat jika kita menggeser pointer ke komponen. Sama seperti grayscale text, hover grayscale text memiliki 9 pilihan warna, yaitu:

{% capture option_code %}
<div class="hover-text-lightest">.hover-text-lightest</div>
<div class="hover-text-lighter">.hover-text-lighter</div>
<div class="hover-text-light">.hover-text-light</div>
---
<div class="hover-text-grayest">.hover-text-grayest</div>
<div class="hover-text-grayer">.hover-text-grayer</div>
<div class="hover-text-gray">.hover-text-gray</div>
---
<div class="hover-text-darkest">.hover-text-darkest</div>
<div class="hover-text-darker">.hover-text-darker</div>
<div class="hover-text-dark">.hover-text-dark</div>
{% endcapture %}
{% include option-code.html content=option_code %}

<div class="margin-top-50"></div><!-- separator -->

## Full Color Text

Full color text merupakan text yang bewarna warni. Full color text cocok dipakai untuk kalimat yang menarik perhaian user (branding). Bisa juga dipakai untuk memberi makna semantik (seperti error, warning, info, dll). Full color text memiliki 36 pilihan warna, yaitu:

{% capture option_code %}
<div class="text-light-red">.text-light-red</div> - bg-dark
<div class="text-light-orange">.text-light-orange</div> - bg-dark
<div class="text-light-yellow">.text-light-yellow</div> - bg-dark
<div class="text-light-chartreuse">.text-light-chartreuse</div> - bg-dark
<div class="text-light-green">.text-light-green</div> - bg-dark
<div class="text-light-spring">.text-light-spring</div> - bg-dark
<div class="text-light-cyan">.text-light-cyan</div> - bg-dark
<div class="text-light-azure">.text-light-azure</div> - bg-dark
<div class="text-light-blue">.text-light-blue</div> - bg-dark
<div class="text-light-violet">.text-light-violet</div> - bg-dark
<div class="text-light-magenta">.text-light-magenta</div> - bg-dark
<div class="text-light-rose">.text-light-rose</div> - bg-dark
---
<div class="text-red">.text-red</div>
<div class="text-orange">.text-orange</div>
<div class="text-yellow">.text-yellow</div>
<div class="text-chartreuse">.text-chartreuse</div>
<div class="text-green">.text-green</div>
<div class="text-spring">.text-spring</div>
<div class="text-cyan">.text-cyan</div>
<div class="text-azure">.text-azure</div>
<div class="text-blue">.text-blue</div>
<div class="text-violet">.text-violet</div>
<div class="text-magenta">.text-magenta</div>
<div class="text-rose">.text-rose</div>
---
<div class="text-dark-red">.text-dark-red</div>
<div class="text-dark-orange">.text-dark-orange</div>
<div class="text-dark-yellow">.text-dark-yellow</div>
<div class="text-dark-chartreuse">.text-dark-chartreuse</div>
<div class="text-dark-green">.text-dark-green</div>
<div class="text-dark-spring">.text-dark-spring</div>
<div class="text-dark-cyan">.text-dark-cyan</div>
<div class="text-dark-azure">.text-dark-azure</div>
<div class="text-dark-blue">.text-dark-blue</div>
<div class="text-dark-violet">.text-dark-violet</div>
<div class="text-dark-magenta">.text-dark-magenta</div>
<div class="text-dark-rose">.text-dark-rose</div>
{% endcapture %}
{% include option-code.html content=option_code %}

<div class="margin-top-50"></div><!-- separator -->

## Hover Full Color Text

Dengan hover, style full color text hanya akan terlihat jika kita menggeser pointer ke komponen. Sama seperti full color text, hover full color text memiliki 36 pilihan warna, yaitu:

{% capture option_code %}
<div class="hover-text-light-red">.hover-text-light-red</div>
<div class="hover-text-light-orange">.hover-text-light-orange</div>
<div class="hover-text-light-yellow">.hover-text-light-yellow</div>
<div class="hover-text-light-chartreuse">.hover-text-light-chartreuse</div>
<div class="hover-text-light-green">.hover-text-light-green</div>
<div class="hover-text-light-spring">.hover-text-light-spring</div>
<div class="hover-text-light-cyan">.hover-text-light-cyan</div>
<div class="hover-text-light-azure">.hover-text-light-azure</div>
<div class="hover-text-light-blue">.hover-text-light-blue</div>
<div class="hover-text-light-violet">.hover-text-light-violet</div>
<div class="hover-text-light-magenta">.hover-text-light-magenta</div>
<div class="hover-text-light-rose">.hover-text-light-rose</div>
---
<div class="hover-text-red">.hover-text-red</div>
<div class="hover-text-orange">.hover-text-orange</div>
<div class="hover-text-yellow">.hover-text-yellow</div>
<div class="hover-text-chartreuse">.hover-text-chartreuse</div>
<div class="hover-text-green">.hover-text-green</div>
<div class="hover-text-spring">.hover-text-spring</div>
<div class="hover-text-cyan">.hover-text-cyan</div>
<div class="hover-text-azure">.hover-text-azure</div>
<div class="hover-text-blue">.hover-text-blue</div>
<div class="hover-text-violet">.hover-text-violet</div>
<div class="hover-text-magenta">.hover-text-magenta</div>
<div class="hover-text-rose">.hover-text-rose</div>
---
<div class="hover-text-dark-red">.hover-text-dark-red</div>
<div class="hover-text-dark-orange">.hover-text-dark-orange</div>
<div class="hover-text-dark-yellow">.hover-text-dark-yellow</div>
<div class="hover-text-dark-chartreuse">.hover-text-dark-chartreuse</div>
<div class="hover-text-dark-green">.hover-text-dark-green</div>
<div class="hover-text-dark-spring">.hover-text-dark-spring</div>
<div class="hover-text-dark-cyan">.hover-text-dark-cyan</div>
<div class="hover-text-dark-azure">.hover-text-dark-azure</div>
<div class="hover-text-dark-blue">.hover-text-dark-blue</div>
<div class="hover-text-dark-violet">.hover-text-dark-violet</div>
<div class="hover-text-dark-magenta">.hover-text-dark-magenta</div>
<div class="hover-text-dark-rose">.hover-text-dark-rose</div>
{% endcapture %}
{% include option-code.html content=option_code %}

<div class="margin-top-100"></div><!-- last separator -->
