<footer class="footer">
  <div class="bg-darker padding-y-50">
    <div class="container">
      <div class="box box-gutter box-break-sm box-equal">
        <div class="box-3 m-margin-bottom-50">
          <div class="fs-16">About Us</div>
          <hr class="border-lightest border-top border-thin margin-0 inline-block text-middle" style="width: 40px;">
          <div class="margin-top-15"></div>
          <div class="">People are more likely to do business with a website that looks professional, and you can achieve this with a clean & responsive design from Tecnoart.</div>
        </div>
        <div class="box-3 m-margin-bottom-50">
          <div class="fs-16">Latest Posts</div>
          <hr class="border-lightest border-top border-thin margin-0 inline-block text-middle" style="width: 40px;">
          <div class="margin-top-15"></div>
          <div>
            <div><a href="" class="a-nocolor">The Disadvantage of Obsessive Compulsive Disorder</a></div>
            <div class="fs-11 text-gray">18 December 2020</div>
          </div>
          <hr class="border-dark border-top margin-y-5">
          <div>
            <div><a href="" class="a-nocolor">How Reading Affects The Brain Works</a></div>
            <div class="fs-11 text-gray">10 November 2020</div>
          </div>
          <hr class="border-dark border-top margin-y-5">
          <div>
            <div><a href="" class="a-nocolor">How Video Games Boost Your Creativity</a></div>
            <div class="fs-11 text-gray">26 August 2020</div>
          </div>
        </div>
        <div class="box-3 m-margin-bottom-50">
          <div class="fs-16">Follow Us</div>
          <hr class="border-lightest border-top border-thin margin-0 inline-block text-middle" style="width: 40px;">
          <div class="margin-top-15"></div>
          <div class="clearfix text-left">
            <div class="pull-left circle-icon margin-right-10 text-center fs-13 bg-dark"><i class="fa fa-github"></i></div>
            <div class="pull-left">
              <div class="fs-11 text-gray">
                Github
              </div>
              <div class="fs-13">
                <a href="" class="a-nocolor">technoprodev/technoart</a>
              </div>
            </div>
          </div>
          <div class="margin-top-10"></div>
          <div class="clearfix text-left">
            <div class="pull-left circle-icon margin-right-10 text-center fs-13 bg-dark"><i class="fa fa-twitter"></i></div>
            <div class="pull-left">
              <div class="fs-11 text-gray">
                Twitter
              </div>
              <div class="fs-13">
                <a href="" class="a-nocolor">@technoart</a>
              </div>
            </div>
          </div>
          <div class="margin-top-10"></div>
          <div class="clearfix text-left">
            <div class="pull-left circle-icon margin-right-10 text-center fs-13 bg-dark"><i class="fa fa-instagram"></i></div>
            <div class="pull-left">
              <div class="fs-11 text-gray">
                Instagram
              </div>
              <div class="fs-13">
                <a href="" class="a-nocolor">technoart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-3 m-margin-bottom-50">
          <div class="fs-16">Reach Us</div>
          <hr class="border-lightest border-top border-thin margin-0 inline-block text-middle" style="width: 40px;">
          <div class="margin-top-15"></div>
          <div class="clearfix text-left">
            <div class="pull-left square circle-icon margin-right-10 text-center fs-13 bg-dark"><i class="fa fa-map-marker"></i></div>
            <div class="pull-left">
              <div class="fs-11 text-gray">
                Address
              </div>
              <div class="fs-13">
                <a href="" class="a-nocolor">Techno St 78, Bali, Indonesia</a>
              </div>
            </div>
          </div>
          <div class="margin-top-10"></div>
          <div class="clearfix text-left">
            <div class="pull-left square circle-icon margin-right-10 text-center fs-13 bg-dark"><i class="fa fa-phone"></i></div>
            <div class="pull-left">
              <div class="fs-11 text-gray">
                Phone
              </div>
              <div class="fs-13">
                <a href="" class="a-nocolor">(+62) 8123456789</a>
              </div>
            </div>
          </div>
          <div class="margin-top-10"></div>
          <div class="clearfix text-left">
            <div class="pull-left square circle-icon margin-right-10 text-center fs-13 bg-dark"><i class="fa fa-envelope-o"></i></div>
            <div class="pull-left">
              <div class="fs-11 text-gray">
                Email
              </div>
              <div class="fs-13">
                <a href="" class="a-nocolor">contactus@technoprodev.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-darkest">
    <div class="container padding-y-30 m-text-center">
      2018 © All Rights Reserved - <a href="" class="a-nocolor">Privacy Policy</a> | <a href="" class="a-nocolor">Terms of Use</a> | <a href="" class="a-nocolor">License</a> | <a href="" class="a-nocolor">Support</a>
      <div class="pull-right m-pull-none m-margin-top-20 fs-italic">Technoart - No More Custom CSS</div>
    </div>
  </div>
</footer>
