<div class="has-positioned-child border">
  <div class="top-left fs-10 border-right border-bottom padding-x-5 padding-y-2">
    preview
  </div>
  <div class="xxx padding-30 padding-top-40">
    {{ include.content }}
  </div>
</div>
<div class="has-positioned-child">
  <div class="top-left fs-10 border-right border-bottom padding-x-5 padding-y-2 text-light">
    code
  </div>
  <div class="top-right text-light-orange padding-x-10 padding-y-2 hover-pointer copy" title="Copy to clipboard">
    Copy
  </div>
  <pre data-language="html" class="yyy padding-10 padding-top-30 scroll-x"></pre>
</div>
